@import 'tailwindcss';


/* globals.css */

/* Hide scrollbar everywhere, keep scrolling working */
* {
    scrollbar-width: none;       /* Firefox */
    -ms-overflow-style: none;    /* IE / old Edge */
}

*::-webkit-scrollbar {
    display: none;               /* Chrome, Safari, new Edge */
}